

.category__header {
	background-color: #2da5a5; /* will change the color later*/

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 12px;
	width: 200px;
}

.contact_name {
	color: #3c3f3f;
	font-size: 1.25rem;
	text-align: center;
	font-weight: 600;
}

.category_item{
	width: 100px;
	background-color: #2da5a5; /* will change the color later*/
}