
.container {
	width: min(1200px, 100% - 2rem);
	margin-inline: auto;
	/* background-color: lightpink; */
	overflow: hidden;
}

.header .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
	margin-top: 3rem;
}


.contact__list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 1rem;
}

.contact__item {
	width: 100%;
	background-color: #ecf1f1;
	padding: .88rem;
	border-radius: var(--radius-5);
	cursor: pointer;
	min-height: max-content;
	/* max-width: 280px; */
}

.contact__header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 12px;
}

.contact__image {
	width: 50px;
}

.contact__image img {
	width: 100%;
	border: 3px solid var(--selective-blue);
	aspect-ratio: 1 / 1;
	object-fit: cover;
	object-position: center;
	border-radius: var(--radius-circle);
}

.contact_name {
	color: #3c3f3f;
	font-size: 1.25rem;
	text-align: center;
	font-weight: 600;
}

.contact_title {
	font-size: 11px;
	background-color: #dfe7e8;
	color: var(--kappel);
	text-align: center;
	border-radius: 13px;
	font-weight: 600;
	padding: 2px;
}

.contact__body {
	margin-top: 1rem;
}

.contact__body>p {
	font-size: 14px;
	margin-bottom: .35rem;
	margin-left: 8px;
	font-weight: 500;
}

.contact__body>p i {
	color: #75777a;
	font-size: 20px;
	margin-right: 8px;
	-webkit-text-stroke: .5px;
}

.contact__body>p i::before {
	color: var(--kappel);
	background-color: #dfe7e8;
	padding: 7px;
	border-radius: var(--radius-circle);
}
