:root{
    --numOfColumns: 1;
}

.task__container{
    display: grid;
    grid-template-columns: repeat(var(--numOfColumns), auto);
    border: 5px solid midnightblue;
}

.grid__element{

}

.task__container:hover{
    
}