:root{
    --numOfColumns: 1;
}

.task__container{

    /* display: grid;
    grid-template-columns: repeat(var(--numOfColumns), auto); */
    height: 30px;
    border: 1px solid midnightblue;
    white-space: nowrap; /* Prevent line wrapping */
    overflow-x: scroll;
    
}

::-webkit-scrollbar {
    display: none;
}

.grid__element{

}

.task__container:hover{
    
}

.dayButton {
    padding-left: 20px;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #c8ccd4;
    vertical-align: middle
    
}
