div.topnav{
    width: 100%;
    background-color: hsl(220, 48%, 90%);
    height: 80px;

}

a{
    text-decoration: none;
    padding-left: 3%;
    
}

.container{
    display: inline;
}

.title{
    color: hsl(220, 46%, 22%);
    padding-left: 1%;
    font-weight: bold;
    vertical-align: middle;
    
}

.dropdown{
    position: relative;
    float: right;
   
}

/* 
 Hamberger Icon Top navigation bar
*/
.icon-100{
    font-size: 3.5rem;
}
