div.topnav{
    width: 100%;
    background-color: hsl(220, 48%, 90%);
    height: 80px;

}

a{
    text-decoration: none;
    padding-left: 3%;
}

.container{
    color:aqua;
    margin-left: auto;
    padding-left: 0px;
    display: inline;
}

a.title{
    color: hsl(220, 46%, 22%);
    padding: 1%;
    font-size: 2rem;
    font-weight: bold;
}

a.dropdown{
    float: right;

}

hr{
    margin: 0px;
}